* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #313628;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0 20px 20px 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#contentContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#sidebar {
  background-color: #f1f1f1;
  border-right: 1px solid black;
}

#projectsHeader {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  padding: 0px 20px 10px 20px;
}

#btnAddProject {
  font-size: 30px;
  display: flex;
  align-items: center;
}

#btnAddProject img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.taskCounter {
  background-color: #d7263d;
  color: white;
  padding: 6px 10px;
  border: 1px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 17px;
}

.allTasksComplete {
  background-color: green;
}

/* hover effect to make project selection clear for user*/
.projectContainer:hover {
  background-color: #4c86a8;
}

#pageContent {
  background-color: #4c86a8;
  display: flex;
  flex-direction: column;
}

#projectHeading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 50px;
  border-bottom: 10px ridge #6f9283;
}

#tasksContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.task {
  display: flex;
  gap: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgb(49, 49, 49);
  justify-content: space-between;
  align-items: stretch;
}

.taskContent h2 {
  margin-bottom: 10px;
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.taskContent p {
  margin-bottom: 10px;
}

.btnDeleteTask {
  margin-right: 15px;
}

.lowPriority {
  border-top: 15px solid green;
}

.mediumPriority {
  border-top: 15px solid #ffbf00;
}

.highPriority {
  border-top: 15px solid rgb(236, 31, 31);
}

#checkboxContainer {
  margin: 15px;
}

#taskCheckbox {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.btnDeleteTask img {
  margin-top: 5px;
  height: 20px;
  width: auto;
  color: red;
  cursor: pointer;
}

.taskComplete {
  text-decoration: line-through;
  opacity: 50%;
}
